body,html {
  margin: 0;
  width: 100%;
  height: 100%;
}

#root
{
	width: 100%;
	height: 100%;
}


/* Internal modal */
.canvas[internal="true"]
{
  border: solid 1px black;
  background-color: white;
}

.canvas-handle
{
  border-bottom: solid black 1px;
}

/* Row-indicator */
[type="row-indicator"]
{
	width: 10px;
	align-items: center;
	justify-content: center;
}

[type="row-indicator"].active
{
	top: 7px;
	right: 5px;
	width: 5px;
	height: 5px;
	display: block;
	position: relative;
	border-radius: 50px;
	background-color: gray;
}

/* ListOfValues */
div[name="lov"] > div[name="search"] > input
{
	margin: 4px;
	margin-bottom: 8px;
}

div[name="lov"] > div[name="results"] > div[name="row"] > input
{
	margin: 4px;
	border: none;
	border-bottom: 1px solid black;
}