body,html {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root
{
  height: 100%;
  width: 100%;
}

.canvas[internal="true"]
{
  border:solid 1px black;
  background-color: white;
}

.canvas-handle
{
  border-bottom: solid black 1px;
}

[type="row-indicator"]
{
	width:10px;
	align-items: center;
	justify-content: center;
}

[type="row-indicator"].active
{
	top: 7px;
	right:5px;
	width:10px;
	height: 10px;
	display: block;
	position: relative;
	border-radius: 50px;
	background-color: gray;
}

div[name="lov"] > div[name="search"] > input
{
	margin: 4px;
	margin-bottom: 8px;
}

div[name="lov"] > div[name="results"] > div[name="row"] > input
{
	border: none;
	margin: 4px;
	border-bottom: 1px solid black;
}