


.container
{
   gap:20px;
   margin-top:10px;
   display:grid;
   width: max-content;
}

.container.flex 
{
   display:flex;
   flex-wrap: nowrap;
}

/* section */

.section
{
   gap:20px;
   padding:10px;
   display:block;
   font-weight: 500;
   width: max-content;
}


.left
{
   margin-right:auto;
   justify-content: left;
}

.center
{
   margin-left: auto;
   margin-right: auto;
   justify-content: center;
}

.right
{
   margin-left:auto;
   justify-content: right;
}
/*--------------*/
/* form */
.table
{
   border:none;
}

input
{
   margin: 0;
   padding: 0;
   height: 20px;
   border:none;
   margin:0px 4px;
   background-color: transparent;
   border-bottom:solid black 1px;
}

td
{
   margin: 0px;
	line-height: 1.42857143;
}

tr
{

   border: 1px solid #ccc;
   box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

/*-----------*/